app = 'tome--l7lrq'
primary_region = 'dfw'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[mounts]
  source = 'tome_data'
  destination = '/data'

[[vm]]
  size = 'shared-cpu-1x'
  memory = '512mb'
